<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <h2>Group Management</h2>
            <form>
                <input type="text" id="group" name="group" placeholder="Group Name" [(ngModel)] = "group">
                <input type="submit" class="fadeIn fourth" value="Create Group" (click)="createGroup()">
            </form>
        </div>
        <br>
        <div>
            <h2>User Management</h2>
            <form>
                <input type="text" id="group" name="group" placeholder="Group Name" [(ngModel)] = "group">
                <input type="submit" class="fadeIn fourth" value="Create User" (click)="createGroup()">
            </form>
        </div>
        <br>
        <div>
            <h2>Channel Management</h2>
            <form>
                <input type="text" id="group" name="group" placeholder="Group Name" [(ngModel)] = "group">
                <input type="submit" class="fadeIn fourth" value="Create Channel" (click)="createGroup()">
            </form>
        </div>

    </body>
</html>