<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>Users</h2>
        <br>
        <h4 *ngFor = "let user of users">Username: {{user.username}}
            <br> Email: {{user.email}}
            <br> Role: {{user.role}}
            <br>Groups: <div style="display: inline-block;"><p *ngFor = "let group of user.groups" style="display: inline;">{{group.name}}, </p></div>
            <br>
            <button (click)="removeUser(user.username)" type="button" class="btn btn-primary">Remove User</button>
        </h4>

        <div>
            <h2>Create User</h2>
            <form>
                Username: <input type="text" id="username" name="username" [(ngModel)] = "username">
                Email Address: <input type="text" id="email" name="email" [(ngModel)] = "email">
                <input type="submit" value="Create" (click)="createUser()">
            </form>
        </div>
        <br><br>
        <div class="add_user_group_form">
            <h2>Invite User</h2>
            <form>
                Groups: 
                <select [(ngModel)] = "add_group" name="add_group">
                    <option [ngValue] ="null">Select Group</option>
                    <option *ngFor="let group of groups">
                        {{group.name}}
                    </option>
                </select>

                Users: 
                <select [(ngModel)] = "add_username" name="add_username">
                    <option [ngValue] ="null">Select User</option>
                    <option *ngFor="let user of users">
                        {{user.username}}
                    </option>
                </select>

                <input type="submit" value="Invite User" (click)="inviteUser()">
            </form>
        </div>
        <br><br>
        <div class="remove_user_group_form">
            <h2>Remove User From Group</h2>
            <form>
                Groups: 
                <select [(ngModel)] = "remove_group" name="remove_group" (change)="getGroupUsers()">
                    <option [ngValue] ="null">Select Group</option>
                    <option *ngFor="let group of groups">
                        {{group.name}}
                    </option>
                </select>

                Users: 
                <select [(ngModel)] = "remove_username" name="remove_username">
                    <option [ngValue] ="null">Select User</option>
                    <option *ngFor="let user of group_users">
                        {{user}}
                    </option>
                </select>

                <input type="submit" value="Remove user from group" (click)="removeUserFromGroup()">
            </form>
        </div>
        <br><br>
        <div class="add_user_channel_form">
            <h2>Add User To Channel</h2>
            <form>
                Groups: 
                <select [(ngModel)] = "channel_group" name="channel_group" (change)="gGroupUsers()">
                    <option [ngValue] ="null">Select Group</option>
                    <option *ngFor="let group of groups">
                        {{group.name}}
                    </option>
                </select>

                Users: 
                <select [(ngModel)] = "channel_username" name="channel_username">
                    <option [ngValue] ="null">Select User</option>
                    <option *ngFor="let user of channel_group_users">
                        {{user}}
                    </option>
                </select>

                Channels: 
                <select [(ngModel)] = "channel_name" name="channel_name">
                    <option [ngValue] ="null">Select Channel</option>
                    <option *ngFor="let channel of group_channels">
                        {{channel}}
                    </option>
                </select>

                <input type="submit" value="Add User" (click)="addUserToChannel()">
            </form>
        </div>

        <div class="add_user_channel_form">
            <h2>Remove User From Channel</h2>
            <form>
                Groups: 
                <select [(ngModel)] = "rm_channel_group" name="rm_channel_group" (change)="groupChannel()">
                    <option [ngValue] ="null">Select Group</option>
                    <option *ngFor="let group of groups">
                        {{group.name}}
                    </option>
                </select>

                Channels: 
                <select [(ngModel)] = "rm_channel_name" name="rm_channel_name" (change)="channelUsers()">
                    <option [ngValue] ="null">Select Channel</option>
                    <option *ngFor="let channel of rm_group_channels">
                        {{channel}}
                    </option>
                </select>

                Users: 
                <select [(ngModel)] = "rm_channel_username" name="rm_channel_username">
                    <option [ngValue] ="null">Select User</option>
                    <option *ngFor="let user of channel_users">
                        {{user}}
                    </option>
                </select>

                <input type="submit" value="Remove user from channel" (click)="rmUserFromChannel()">
            </form>
        </div>

    </body>
</html>