<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>Users</h2>
        <br>
        <div class="cbutton">
            <button type="button" class="btn btn-outline-primary" routerLink="/CreateUser" *ngIf="!isGroupAssis">Create User</button>
        </div>
        <h5 *ngFor = "let user of users">Username: {{user.username}}
            <br> Email: {{user.email}}
            <br> Role: {{user.role}}
            <br>Groups: <div style="display: inline-block;"><p *ngFor = "let group of user.groups" style="display: inline;">{{group.name}}, </p></div>
            <br>
            <button (click)="removeUser(user.username)" type="button" class="btn btn-primary" *ngIf="isSuperAdmin">Remove User</button> 
            <button (click)="giveSuperRole(user.username)" type="button" class="btn btn-dark" *ngIf="isSuperAdmin" >Super Admin</button>
        </h5>

        <br><br>
  
        <div class="add_user_group_form" *ngIf="!isGroupAssis">
            <h4>Invite User</h4>
            <form>
                Groups: 
                <select [(ngModel)] = "add_group" name="add_group">
                    <option [ngValue] ="null">Select Group</option>
                    <option *ngFor="let group of groups">
                        {{group.name}}
                    </option>
                </select>

                Users: 
                <select [(ngModel)] = "add_username" name="add_username">
                    <option [ngValue] ="null">Select User</option>
                    <option *ngFor="let user of users">
                        {{user.username}}
                    </option>
                </select>

                <input type="submit" value="Invite User" (click)="inviteUser()">
            </form>
        </div>

    </body>
    
</html>