<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>Join Room</h2>
        <form *ngIf="!isinRoom">
            Group: 
            <select [(ngModel)] = "group" name="group" (change)="gUserGrChannel()">
                <option [ngValue] ="null">Select Group</option>
                <option *ngFor="let group of group_names">
                    {{group.name}}
                </option>
            </select>
            Channel:
            <select [(ngModel)] = "channel" name="channel">
                <option [ngValue] ="null">Select Channel</option>
                <option *ngFor="let channel of channel_names">
                    {{channel.name}}
                </option>
            </select>
            <input type="submit" value="Join Room" (click)="joinroom()" class="btn btn-outline-success">
        </form>

        <form>
            <div class="messaging" *ngIf="isinRoom">
                <div class="inbox_msg">
                    <div class="inbox_people">
                        <div class="headind_srch">
    
                            <div class="recent_heading">
                                <h4>Chat Messages for {{currentroom}} - {{numusers}} Active Users</h4>
                            </div>
    
                        </div>
                        <div class="inbox_chat scroll">
                            <h3>Notices</h3>
                            {{roomnotice}}
    
                        </div>
                    </div>
                    <div class="mesgs">
                        <div *ngFor = 'let message of messages' style="text-align: left">
                            <img width="24px" height="24px" src="http://localhost:3000/image/{{message.userimage}}">
                            {{message.username}}: 
                            {{message.message}}
                            <img src="http://localhost:3000/image/{{message.image}}">
                        </div>
    
                        <div class="msg_history">
                    
                        </div>
                        <div class="type_msg">
                            <div class="input_msg_write">
                                <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="messagecontent" id="messagecontent" name="messagecontent">
                                <button class="btn btn-primary" type="button" (click)="chat()">Send</button>
                                <div class="form-group">
                                    <input type="file" class="form-control" (change)="onFileSelected($event)" name="uploadfile" id="uploadfile">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
    <footer><button type="button" class="btn btn-outline-primary" (click)="leaveroom()" *ngIf="isinRoom">Leave Room</button></footer>
</html>