<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>Join Room</h2>
        <form>
            Group: 
            <select [(ngModel)] = "group" name="group" (change)="gUserGrChannel()">
                <option [ngValue] ="null">Select Group</option>
                <option *ngFor="let group of group_names">
                    {{group}}
                </option>
            </select>
            Channel:
            <select [(ngModel)] = "channel" name="channel">
                <option [ngValue] ="null">Select Channel</option>
                <option *ngFor="let channel of channel_names">
                    {{channel}}
                </option>
            </select>
            <input type="submit" value="Join Room" (click)="joinRoom()">
        </form>
    </body>
</html>