<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2>Login</h2>
        <!-- Login Form -->
        <form>
          <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email Address" [(ngModel)] = "email">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" [(ngModel)] = "password">
          <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
        </form>

      </div>
    </div>
  </body>
</html>
