<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2>Login</h2>
        <!-- Login Form -->
        <form>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email Address">
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

      </div>
    </div>
  </body>
</html>
