<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>Groups & Channels</h2>
        <br>
        <h5 *ngFor = "let group of groups">Group Name: {{group.name}}
            <br>
            Channels:
            <div style="display: inline-block;">
                <p *ngFor = "let channel of group.channels" style="display: inline;">{{channel}}, </p>
            </div>
            <br>
            <div *ngIf="!isGroupAssis">
                <ul *ngFor = "let user of group.users" >
                    <li style="display: inline;">User: {{user}} </li>
                    <button (click)="removeUserFromGroup(group.name, user)">Remove User</button>
                    <button (click)="giveGroupAssis(group.name, user)">Group Assis</button>
                </ul>
            </div>


            <button (click)="removeGroup(group.name)" type="button" class="btn btn-primary" *ngIf="!isGroupAssis">Remove Group</button>
        </h5>
        

        
        <div class="group_form" *ngIf="!isGroupAssis">
            <h4>Create Group</h4>
            <form>
                Group Name: <input type="text" id="group_name" name="group_name" [(ngModel)] = "group_name">
                <input type="submit" value="Create Group" (click)="createGroup()">
            </form>
        </div>
        

        <div class="channel_form">
            <h4>Create Channel</h4>
            <form>
                Group: 
                <select [(ngModel)] = "group_channel" name="group_channel">
                    <option [ngValue] ="null">Select Group</option>
                    <option *ngFor="let group of groups">
                        {{group.name}}
                    </option>
                </select>
                Channel Name: <input type="text" id="channel_name" name="channel_name" [(ngModel)] = "channel_name">
                <input type="submit" value="Create Channel" (click)="createChannel()">
            </form>
        </div>
        

        <div class="remove_channel_form">
            <h4>Remove Channel</h4>
            <form>
                Group: 
                <select [(ngModel)] = "remove_group" name="remove_group" (change)="getChannel()">
                    <option [ngValue] ="null">Select Group</option>
                    <option *ngFor="let group of groups">
                        {{group.name}}
                    </option>
                </select>

                Channel: 
                <select [(ngModel)] = "remove_channel" name="remove_channel">
                    <option [ngValue] ="null">Select Channel</option>
                    <option *ngFor="let channel of channels">
                        {{channel}}
                    </option>
                </select>

                <input type="submit" value="Remove Channel" (click)="removeChannel()">
            </form>
        </div>

    </body>
</html>