body h2{
    text-align: center;
}

body{
    font-family: sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}


.group_form{
    border-bottom: solid;
    border-color: lightgray;
    padding: 2%;
}

.channel_form{
    border-bottom: solid;
    border-color: lightgray;
    padding: 2%;
}

.remove_channel_form{
    border-bottom: solid;
    border-color: lightgray;
    padding: 2%;
}

button{
    font-size: 10px;
}