<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>Groups & Channels</h2>
        <br>
        <button type="button" class="btn btn-outline-primary" routerLink="/CreateChannel">Create Channel</button>
        <br>
        <h5 *ngFor = "let group of groups">Group Name: {{group.name}}
            <br>
            Channels:
            <div style="display: inline-block;">
                <p *ngFor = "let channel of group.channels" style="display: inline;">{{channel}}, </p>
            </div>
            <br>
            <div *ngIf="!isGroupAssis">
                <ul *ngFor = "let user of group.users" >
                    <li style="display: inline;">User: {{user}} </li>
                    <button (click)="removeUserFromGroup(group.name, user)">Remove User</button>
                    <button (click)="giveGroupAssis(group.name, user)">Group Assis</button>
                </ul>
            </div>


            <button (click)="removeGroup(group.name)" type="button" class="btn btn-primary" *ngIf="!isGroupAssis">Remove Group</button><br>
            <p><a (click)="viewChannels(group.name)" style="color: blue; text-decoration-line: underline; cursor: pointer;" *ngIf="!isNormalUser">View Channels</a></p>
        </h5>
        

        
        <div class="group_form" *ngIf="!isGroupAssis">
            <h4>Create Group</h4>
            <form>
                Group Name: <input type="text" id="group_name" name="group_name" [(ngModel)] = "group_name">
                <input type="submit" value="Create Group" (click)="createGroup()">
            </form>
        </div>
 
    </body>
</html>