<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>Groups & Channels</h2>
        <br>
        <h4 *ngFor = "let group of groups">Group Name: {{group.name}}
            <br>
            Channels:
            <div style="display: inline-block;">
                <p *ngFor = "let channel of group.channels">{{channel}}, </p>
            </div>
            <br>
            <button (click)="removeGroup(group.name)" type="button" class="btn btn-primary">Remove Group</button>
        </h4>

        
        <div>
            <h2>Create Group</h2>
            <form>
                Group Name: <input type="text" id="group_name" name="group_name" [(ngModel)] = "group_name">
                <input type="submit" value="Create Group" (click)="createGroup()">
            </form>
        </div>
    </body>
</html>